Package: com.yourcompany.mghooker
Name: MGHooker
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Naville Zhang
Author: Naville Zhang
Section: Tweaks
